{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-4">
    {% if posts.exists %}
        {% for post in posts %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text">{{ post.content|safe }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a href="{% url 'profile' post.user.username %}" class="text-muted">@{{ post.user }}</a>
                        <span class="text-muted">{{ post.timestamp }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center">No posts available.</p>
    {% endif %}
</main>
{% endblock %}

