{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

{% load static %}
<div class="profile-container">
  <div class="bg-image">
    <!-- Можно добавить картинку фоном -->
  </div>

  <div class="profile-header">
    <div class="avatar">
      Avatar
    </div>
    <h2>{{ profile_user.username|default:"User" }}</h2>
  </div>

  {% if request.user == profile_user %}
    <form class="new-post-form" method="post" action="{% url 'create_post' %}">
      {% csrf_token %}
      <textarea name="content" rows="3" placeholder="Enter text..."></textarea>
      <button type="submit">Send</button>
    </form>
  {% endif %}

  <div class="post-list">
    {% for post in posts %}
      <div class="post-item">
        <div class="post-meta" style="display: flex; justify-content: space-between; align-items: center;">
          <span>@{{ post.user.username }} - {{ post.timestamp|date:"H:i d.m.Y" }}</span>

          {% if request.user == post.user %}
            <form method="post" action="{% url 'delete_post' post.id %}" class="delete-post-form" style="margin: 0;">
              {% csrf_token %}
              <button type="submit" class="delete-post-button btn" style="background: none; border: none; padding: 0;">
                <!-- <img src="{% static 'icons8-trash-128.png' %}" alt="Delete" class="delete-icon" style="width: 20px; height: 20px;"> -->
              </button>
            </form>
          {% endif %}
        </div>

        <div class="post-content">
          {{ post.content|safe }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

